[submodule "FNA"]
	path = FNA
	url = https://github.com/mortlockpaul-arch/FNA.git
[submodule "monogame"]
	path = monogame
	url = https://github.com/mortlockpaul-arch/monogame.git
	branch = develop
[submodule "RetroShelf"]
	path = RetroShelf
	url = https://github.com/robby-gridpoint/RetroShelf.git
[submodule "FNA.NetStub"]
	path = FNA.NetStub
	url = https://github.com/mortlockpaul-arch/FNA.NetStub
